@page "/"
@using Microsoft.Extensions.Configuration
@using KDBS.Services.JobService
@using KDBS.Models
@using KDBS.Models.Events
@using KDBS.Data
@using KDBS.Pages.Job
@implements IDisposable
@inject IJSRuntime _js
@inject IConfiguration _configuration
@inject IJobService _jobService

<div class="w-full, h-full overflow-hidden relative">
    <JobFilter OnFilterChanged="OnFilterChanged"></JobFilter>
    <div id="map" class="w-full, h-full"></div>
    @if (!ReadMoreIsActive)
    {
        <div class="absolute job-popup card shadow-2xl bg-base-100" style="@_overlayStyle">
            <div class="card-body">
                <h2 class="card-title">@_selectedJob?.Title</h2>
                <p>@_selectedJob?.Content</p>
                <button @onclick="@OnReadMoreClick" class="btn btn-primary mt-5">Læs mere</button>
                @if (HasNavigation)
                {
                    <div class="card-actions">
                        <div class="btn-group">
                            <button @onclick="@Previous" class="btn btn-sm btn-outline">Forrige Job</button>
                            <button @onclick="@Next" class="btn btn-sm btn-outline">Næste Job</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <div class="absolute inset-0 w-full h-full flex p-6">
            <div class="card flex-grow z-over-map shadow-2xl bg-base-100">
                <div class="card-body">
                    <Details JobId="@_selectedJob?.JobId"></Details>
                    <button @onclick="@OnReadMoreClick" class="btn btn-primary mt-5">Læs mindre</button>
                </div>
            </div>
        </div>
    }
</div>

@code {
    private bool HasNavigation => _currentPin != null && _currentPin.Jobs.Count > 1;
    private bool ReadMoreIsActive = false;

    private DotNetObjectReference<Index>? _objectReference = null;
    private List<PreviewPoint> _previewPoints = new List<PreviewPoint>();

    private string _overlayStyle = "display: none;";

    private int _currentPreviewIndex = 0;
    private PreviewPoint? _currentPin = null;

    private JobModel? _selectedJob = null;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var key = _configuration.GetValue<string>("BingMaps");
            _objectReference = DotNetObjectReference.Create(this);

            await _js.InvokeVoidAsync("loadBingMap", key, _objectReference);
            await LoadPins();
        }
    }

    private void OnReadMoreClick()
    {
        ReadMoreIsActive = !ReadMoreIsActive;
    }

    [JSInvokable]
    public async Task ClickedOnPin(PinClickEvent pinClickEvent)
    {
        var previewPoint = _previewPoints.FirstOrDefault(p => p.Id == pinClickEvent.Id);

        if (previewPoint == null)
        {
            return;
        }

        _currentPreviewIndex = 0;
        _currentPin = previewPoint;

        await LoadCurrentJob();

        _overlayStyle = $"left: {pinClickEvent.PageX}px; top: {pinClickEvent.PageY}px";
        StateHasChanged();
    }

    [JSInvokable]
    public void HidePopup()
    {
        _overlayStyle = "display: none;";
        StateHasChanged();
    }

    private async Task OnFilterChanged(FilterChangedEvent changedEvent)
    {
        await LoadPins(changedEvent.SearchQuery, changedEvent.Salary, changedEvent.Categories, changedEvent.Goods);
    }

    private async Task LoadPins(string? searchQuery = null, int? salary = null, List<string>? categories = null, List<string>? goods = null)
    {
        var jobs = await _jobService.GetJobs(searchQuery, salary, categories, goods);

        var pins = jobs
            .GroupBy(j => $@"{j.Company.Latitude}{j.Company.Longitude}")
            .Select(j => new PreviewPoint()
                {
                    Id = Guid.NewGuid().ToString(),
                    Latitude = j.First().Company.Latitude,
                    Longitude = j.First().Company.Longitude,
                    Jobs = j.Select(job => job.JobId).ToList()
                }).ToList();

        _previewPoints = pins;
        await _js.InvokeVoidAsync("addPins", pins);
    }

    private async Task LoadCurrentJob()
    {
        var jobId = _currentPin?.Jobs[_currentPreviewIndex];

        if (jobId == null)
        {
            HidePopup();
            return;
        }

        JobModel? job = null;
        try
        {
            job = await _jobService.GetJob(jobId);
        }
        catch (Exception e)
        {
            HidePopup();
            return;
        }

        _selectedJob = job;
    }

    private async Task Next()
    {
        if (_currentPin == null) return;

        var nextIndex = _currentPreviewIndex + 1;
        if (_currentPin.Jobs.Count == nextIndex) nextIndex = 0;

        _currentPreviewIndex = nextIndex;
        await LoadCurrentJob();
    }

    private async Task Previous()
    {
        if (_currentPin == null) return;

        var nextIndex = _currentPreviewIndex - 1;
        if (nextIndex < 0) nextIndex = _currentPin.Jobs.Count - 1;

        _currentPreviewIndex = nextIndex;
        await LoadCurrentJob();
    }

    public void Dispose()
    {
        GC.SuppressFinalize(this);
        if (_objectReference != null)
        {
            _objectReference.Dispose();
        }
    }
}