@using KDBS.Models
@using TinyMCE.Blazor

<DataAnnotationsValidator/>
<ValidationSummary/>
<div class="flex flex-col h-full overflow-hidden">
    <div class="flex-1 overflow-auto">
        <div class="flex h-full justify-between overflow-hidden">
            <div class="w-full">
                <label class="form-control">
                    <div class="label label-text">
                        Title
                    </div>
                    <InputText id="title" class="input input-bordered" @bind-Value="Job.JobTitle"/>
                </label>

                <label class="form-control">
                    <div class="label label-text">
                        Beskrivelse
                    </div>
                    <Editor
                        class="input input-bordered"
                        @bind-Value="Job.JobContent"
                        ScriptSrc="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.10.2/tinymce.min.js"
                        Conf="@_editorConf"/>
                </label>
            </div>

            <div class="ml-5 w-1/2">
                <label class="form-control">
                    <div class="label label-text">
                        Kategorier
                    </div>
                    <InputSelect id="category" class="input input-bordered" @bind-Value="@Job.CategoryId">
                        @foreach (var category in Job.Categories ?? new List<CheckboxOption>())
                        {
                            <option value="@category.Id">@category.Title</option>
                        }
                    </InputSelect>
                </label>

                <label class="form-control">
                    <div class="label label-text">
                        Løn
                    </div>
                    <InputNumber id="salary" class="input input-bordered" @bind-Value="Job.Salary"/>
                </label>
                <label class="form-control">
                    <div class="label label-text">
                        Hjemmeside link
                    </div>
                    <InputText id="linkToCompany" class="input input-bordered" @bind-Value="Job.LinkToCompany"/>
                </label>

                <div class="form-control">
                    <div class="label label-text">
                        Goder
                    </div>
                    <ul>
                        @foreach (var good in Job.Goods ?? new List<CheckboxOption>())
                        {
                            <li class="pl-3">
                                <label class="cursor-pointer label label-text p-0 pb-2">
                                    <div>
                                        @good.Title:
                                    </div>
                                    <InputCheckbox class="checkbox" style="height: 1.2rem; width: 1.2rem;" id="@good.Id" @bind-Value="@good.Selected"/>
                                </label>

                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="form-control flex-shrink-0 mt-6">
        <button type="submit" class="btn btn-primary">@ButtonText</button>
    </div>
</div>

@code {

    [Parameter]
    public JobForm Job { get; set; }

    [Parameter]
    public string ButtonText { get; set; }

    private Dictionary<string, object> _editorConf = new()
    {
        { "height", 400 }
    };

}